html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header,
footer,
header > section {
  background-color: #703893;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

header > section > img {
  max-height: 100%;
}

header > button {
  margin: 1rem;
}

main {
  flex: 1 0 auto;
}

.PUTTHECONTENTINTHEMIDDLE {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SPACETHECONTENTAPART {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

/* login page */

main > section {
  height: 100%;
}

main > section > img {
  min-height: 100%;
  object-fit: cover;
}

/* footer */

.logoContainer {
  position: relative;
}

.discordLogo {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  height: 3rem;
  width: 3rem;
}

footer {
  flex-shrink: 0;
}

/* colors and theming */

.pure-button-primary {
  background: #703893;
}

.pruple {
  color: #703893;
  text-decoration: none
}

/* modal bits */

.modalWrapper {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  animation: fadein 0.25s;
}

.modalContainer {
  height: 100%;
}

.modalContent {
  padding: 1rem;
  background-color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* table css */

.tableContainer {
  overflow-x: auto;
}

td:nth-child(1) {
  width: 100px;
  }

td:nth-child(2) {
  width: 200px;
}

td:nth-child(3) {
  width: 300px;
 }