html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  /* color: white; */
}

header,
footer,
header > section {
  background-color: #703893;
  display: flex;
  height: 4rem;
  color: white;
}
header,
footer {
  justify-content: space-between;
}

footer > p {
  margin: 0.5rem;
}

header > section > img {
  max-height: 100%;
  padding: 0.5rem;
}
header > section > h1 {
  margin: auto 0rem;
}

header > button,
header > div > button {
  margin: 1rem;
}

main {
  flex: 1 0 auto;
}

.PUTTHECONTENTINTHEMIDDLE {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SPACETHECONTENTAPART {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

.almosthalfwidth {
  width: 49%;
}

/* footer */

.logoContainer {
  position: relative;
}

.discordLogo {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  height: 3rem;
  width: 3rem;
}

footer {
  flex-shrink: 0;
}

/* colors and theming */

.pure-button-primary {
  background: #703893;
}

.pruple,
a {
  color: #703893;
  text-decoration: none
}